<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
	<title>Activity Details</title>
	
	<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
	
</head>
<body>
	<div align="center" class="container my-2">
		<h1>Employee Activity Details</h1><br>
		
		<!-- Link to Add Activity Form -->
		<a th:href = "@{/showAddActivityForm}">Add activity</a><br><br>
		
		<table  class = "table table-striped table-responsive-md">
			<thead>
				<tr>
					<th>Employee ID</th>
					<th>
						<a th:href="@{'/actList/' + ${currentPage} + '?sortField=eid&sortDir=' + ${reverseSortDir}}">
							Date</a>
					</th>
					<th>Assigned To</th>
					<th>Actions</th>
					
				</tr>
			</thead>
			<tbody>
			
				<tr th:each="activity: ${listActivity}">
					<td th:text="${activity.eid}"></td>
					<td th:text="${activity.date}"></td>
					<td th:text="${activity.assignedTo}"></td>
					<td><a th:href="@{/showActivityUpdateForm/{acid}(acid=${activity.acid})}" >Update</a>&nbsp;&nbsp;&nbsp;&nbsp;
						&nbsp;&nbsp;&nbsp;&nbsp;<a th:href="@{/deleteActivity/{acid}(acid=${activity.acid})}">Delete</a></td>
				</tr>
			</tbody>
		</table>
		
		<div th:if = "${totalPages>1}">
			<div  class = "row col-sm-10">
				<div class = "col-sm-2">Total Rows:[[${totalItems}]]</div>
			
					<div class = "col-sm-1">
						<span th:each="i: ${#numbers.sequence(1, totalPages)}">
							<a th:if="${currentPage != i}" th:href="@{'/actList/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
						</span>
					</div>
					<div class = "col-sm-1">
						<a th:if="${currentPage < totalPages}" th:href="@{'/actList/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
						<span th:unless="${currentPage < totalPages}">Next</span>
					</div>
					<div class = "col-sm-1">
						<a th:if="${currentPage < totalPages}" th:href="@{'/actList/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
						<span th:unless="${currentPage < totalPages}">Last</span>
					</div>
			</div>	
			<!--Staff Home page link -->
			<a th:href="@{/showMainStaff}">back to Main Staff Page</a>
		</div>
		
		
	</div>
</body>
</html>